<table class="table table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Marca</th>
      <th>Linea</th>
      <th>Modelo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let veh of vehiculos;">
      <td>{{veh.id}}</td>
      <td>{{veh.marca}}</td>
      <td>{{veh.linea}}</td>
      <td>{{veh.modelo}}</td>
    </tr>
  </tbody>
</table>

<div>
  <p>  Conteo de Vehículos por Marca
  <ul>
    <li class="list-group-item" *ngFor="let marca of contadorMarcas">
      {{ marca.name }}: <b>{{ marca.cuenta }}</b>
    </li>
  </ul>
</div>